/* General Settings and Body  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  all: unset;
  cursor: pointer;
  display: block;
}

ul {
  list-style: none;
}

header,
.footerNav {
  padding: 5% 20%;
}


/* Header  */

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
  align-items: center;
  background-color: white;
}

header .logo img {
  width: 50px;
  transition: transform 0.3s ease;
}


header ul {
  text-transform: uppercase;
  display: flex;
  gap: 30px;
  font-size: 10px;
  align-items: center;
}

header ul {
  height: 100%;
}

header li {
  height: 100%;
}

header li a {
  height: 100%;
  padding: 40px 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

/* Hover Options  */

header .logo:hover img {
  transform: scale(1.2);
}

header li a:hover {
  color: #0282f9;
  border-top: 2px solid #0282f9;
  border-bottom: 2px solid #0282f9;
}


/* Main  */
main {
  background-color: #1c1c1c;
  color: white;
}

.jumbo-container {
  width: 100%;
  height: 400px;
  background-image: url(./assets/img/jumbotron.jpg);
  background-size: cover;
}

.card-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 5% 10%;
}

.card-container h2 {
  left: 0;
  margin-left: 20%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 15px;
  height: 50px;
  background-color: #0282f9;
  position: absolute;
  top: -25px;
}

.card {
  width: calc((100% - (25px * 5)) / 6);
  text-transform: uppercase;
}

.card h3 {
  width: 100%;
  font-weight: 300;
  font-size: 15px;
  text-overflow: ellipsis;
}

.img-container {
  width: 100%;
}

.card .card-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: 0%;
}

.card-container .load-button {
  text-transform: uppercase;
  padding: 5px 30px;
  height: 50px;
  background-color: #0282f9;
  text-align: center;
}

/* Footer  */

footer {
  background-color: #303030;
}

.footerNav {
  background-color: #0282f9;
  color: white;
  display: flex;
  gap: 50px;
  font-size: 15px;
}

.footerNav .navElement {
  display: flex;
  align-items: center;
  width: calc((100% - 120px) / 5);
  text-transform: uppercase;
}

.navElement span {
  width: 70%;
}

.navElement img {
  width: 30%;
  margin-right: 10px;
  transition: transform 0.3s ease;
}


.footerList {
  background-image: url(assets/img/footer-bg.jpg);
  color: white;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding-left: 20%;
  width: 100%;
  height: 400px;
}

.footerList .logo-container {
  background-image: url(assets/img/dc-logo-bg.png);
  width: 30%;
  height: 100%;
  background-size: 120%;
  margin-right: 100px;
}

.footerList .list-column {
  padding: 5% 0;
}

.footerList ul {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #959595;
}

.footerList h3 {
  text-transform: uppercase;
  font-size: 20px;
}

.footer-bottom {
  padding: 30px 20%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.footer-bottom .links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.footer-bottom .links .follow {
  color: #0282f9;
  font-weight: bolder;
}

.footer-bottom .logo-link img {
  transition: filter 0.3s ease;
}

.footer-bottom button {
  color: white;
  font-weight: bolder;
  padding: 15px;
  border: 5px solid #0282f9;
}



/* FOOTER HOVER OPTIONS  */

.navElement:hover img {
  transform: scale(1.2);
}

.footerList a:hover {
  text-decoration: underline;
}

.footer-bottom .links .follow:hover {
  color: #5fb1ff;
}

.footer-bottom button:hover {
  border: 5px solid #5fb1ff;
}

.footer-bottom .logo-link img:hover {
  filter: invert(1) grayscale(2) brightness(2);
}